.overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.close {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  span {
    cursor: pointer;
    pointer-events: auto; // rendre le bouton cliquable
    height: 40px;
    width: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 50%;
  }
}

.navigationContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.navigationName {
  height: 100%;
  width: 100px;
  background-color: white;
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next {
  height: 100%;
  width: 100px;
  background-color: white;
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  span {
    cursor: pointer;
  }
}

.previous {
  height: 100%;
  width: 100px;
  background-color: white;
  pointer-events: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  span {
    cursor: pointer;
  }
}
